body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/background.jpg");
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

footer{
    margin: 0px;
    padding: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.703);
}

.gridContainer {
    display: grid;
    margin:10px;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "notice"
        "announce"
        "update"
        "YTVideo";
}
.notice{
    grid-area: notice;
    margin: 0px;
    padding-left: 10px;
    color: rgb(12, 142, 1);
}
.announce{
    grid-area: announce; 
    margin: 0px;
    padding-left: 10px;
    color: rgb(199, 25, 25);
}
.update{
    grid-area: update;
    margin: 0px;
    padding-left: 10px;
    color: rgb(199, 25, 25);
}
.YTVideo{
    grid-area: YTVideo;
    display: block;
    margin: auto;
    width: 50em;
    height: 28.125em;
}

.fontBold20{
    font-weight: bold;
    font-size: 20px;
}