p1 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #1e8b24;
    }
    
p2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #ce1a1a;
}
p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #000000;
    }